
.headerBlock{
    background: url('https://tesla.com/ns_videos/model-3-social.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */



}
.headerBlock__info{
    display: flex;
    flex-direction: column;
    height: 360px;
}
.headerBlock__infoText{
    text-align: center;
    flex: 1;
}
.headerBlock__infoText > h1{
    color: #393c43;
    font-weight: 500;
    font-size: 30px;
}
.headerBlock__infoText > h4{
    color: #5c5e62;
    font-weight: 500;
    font-size: 15px;

}
.headerBlock__infoText > h4 > span{
    padding-bottom:4px;
    padding-top: 15px;
    border-bottom: 1px solid #000;
    color: #393c43;
    cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover{
    border-bottom-width: 2px;
    color: #000;
}
.headerBlock__actions{
    margin-top: 330px;
    display: flex;
    gap: 20px;
}
.headerBlock__actions > button{
    cursor: pointer;
    border: none;
    outline: none;
    width: 260px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 400;

}
.headerBlock__btn-primary{
    background: #393c41;
    color: #fff;
    opacity: 0.9;
}
.headerBlock__btn-primary:hover{
    background: #777;
    color: black;
    transition: all .5s ease-in-out;
}
.headerBlock__btn-secondary{
    background: white;
    color: #000;
}
.headerBlock__btn-secondary:hover{
    background: #777;
    color: #fff;
    transition: all .5s ease-in-out;

}
